engine/WF_ANALYSE_CORE.json
{
  "name": "WF_ANALYSE_CORE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyse-core",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "analyse-core"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Tu es un expert en analyse posturale. Analyse l'image fournie et retourne un JSON strict au format Lulu V1: { \"scores\": { \"global_score\": 0-100, \"alignment_score\": 0-100, \"symmetry_score\": 0-100 }, \"resume_final\": \"...\", \"constats_posturaux\": [], \"recommandations_personnalisees\": [] }"
            },
            {
              "role": "user",
              "content": [
                { "type": "text", "text": "Analyse cette posture." },
                { "type": "image_url", "image_url": { "url": "={{ $json.body.data.image_url }}" } }
              ]
            }
          ]
        },
        "options": { "responseFormat": "json_object" }
      },
      "name": "OpenAI Vision",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": { "options": {} },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "OpenAI Vision", "type": "main", "index": 0 }]] },
    "OpenAI Vision": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
