engine/WF_BOT_SUPPORT.json
{
  "name": "WF_BOT_SUPPORT_PROD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-support",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "bot-support"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Tu es l'assistant expert de PosturaIA. Ton ton est clinique, rassurant et professionnel.\n\nCONSIGNES :\n1. Langue : Réponds toujours en {{ $json.body.lang || 'fr' }}.\n2. Expertise : Tu es spécialisé en posture, ergonomie et biomécanique.\n3. Sécurité : Si l'utilisateur mentionne une douleur aiguë, recommande de consulter un médecin.\n4. Action : Encourage l'utilisateur à faire son bilan postural gratuit sur le site.\n5. Style : Phrases courtes, listes à puces si nécessaire."
            },
            {
              "role": "user",
              "content": "={{ $json.body.message }}"
            }
          ]
        }
      },
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]] },
    "OpenAI Chat": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
