engine/WF_BLOG_GENERATOR.json
{
  "name": "WF_BLOG_GENERATOR_PROD",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{"field": "hours", "interval": 12}] } },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Tu es une rédactrice experte en santé et posture pour PosturaIA.\n\nTACHE :\nGénère un article de blog expert, optimisé SEO, sur un sujet lié à la posture (ex: télétravail, sport, sommeil, nuque, dos).\n\nFORMAT JSON STRICT :\n{\n  \"title\": \"Titre accrocheur\",\n  \"excerpt\": \"Résumé court (2 lignes)\",\n  \"content\": \"Contenu complet en HTML (utilisez <p>, <h2>, <ul>)\",\n  \"lang\": \"fr\",\n  \"hero_image\": null\n}"
            }
          ]
        },
        "options": { "responseFormat": "json_object" }
      },
      "name": "Générateur FR",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Traduisez cet article en Anglais en gardant le même format JSON et le ton expert."
            },
            {
              "role": "user",
              "content": "={{ $node[\"Générateur FR\"].json.message.content }}"
            }
          ]
        },
        "options": { "responseFormat": "json_object" }
      },
      "name": "Traducteur EN",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "blog_posts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "excerpt": "={{ $json.excerpt }}",
            "content": "={{ $json.content }}",
            "lang": "={{ $json.lang }}"
          }
        }
      },
      "name": "Supabase Save",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Générateur FR", "type": "main", "index": 0 }]] },
    "Générateur FR": { "main": [[{ "node": "Traducteur EN", "type": "main", "index": 0 }, { "node": "Supabase Save", "type": "main", "index": 0 }]] },
    "Traducteur EN": { "main": [[{ "node": "Supabase Save", "type": "main", "index": 0 }]] }
  }
}
