engine/WF_BOT_SUPPORT.json
{
  "name": "WF_BOT_SUPPORT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-support",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "bot-support"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Tu es l'assistant IA de PosturaIA. Réponds de manière concise, clinique et professionnelle. Langue de réponse: {{ $json.body.lang || 'fr' }}. Si la question concerne la santé, rappelle que tu n'es pas un médecin."
            },
            {
              "role": "user",
              "content": "={{ $json.body.message }}"
            }
          ]
        }
      },
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]] },
    "OpenAI Chat": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
